.stage__ground {
  width: 100vw;
  height: 100px;
  background: black;
  position: absolute;
    bottom: 0px;
}

.stage__fireplace {
  width: 100px;
  height: 100px;
  background: blue;
  position: absolute;
  bottom: 100px;
  left: 500px;
}