.stage__ground {
  width: 1800px;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-image : url(../assets/images/roof.jpg);
  background-size: contain;
}
.stage__gift {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../assets/images/giftbox.svg);
}
.stage__gift--tester {
  position: absolute;
  bottom: 105px;
  width : 150px;
  z-index: 10;
  background-color: transparent;
  height: 1px;
}
.initial__ground {
  width: 300vw;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-image : url(../assets/images/roof.jpg);
  background-size: contain;
}

.jump__max{
  position: absolute;
  width: 50px;
  height: 77px;
  top: 100px;
  left: 75px;
}

.greenjump {
  width: 100px;
  height: 7px;
  left: 70px;
}

.stage__fireplace {
  width: 150px;
  height: 300px;
  background-image: url(../assets/images/fireplace.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -70px;
  z-index: 3;
  left: 1380px;
  overflow: hidden;
}
.cross__one, .cross__two {
  margin-right: 15px;
}
.crosses {
  display: flex ;
  position: absolute;
  top: 90px;
  left: 20px;
.cross__one, .cross__two, .cross__three {
  width: 40px; 
  height: 30px; 
  background-image: url(../assets/images/whitecross.png);
  background-size: 100%;
  background-position: 100% 100%;
}
}

.isFilled {
  width: 40px; 
  height: 30px; 
  background-image: url(../assets/images/redCross.png);
  background-size: 100%;
  background-position: 100% 100%;
  margin-right: 15px;
}